<!-- <style media="screen">
body {
  background-color: #eee;
  font-family: sans-serif;
  font-size: 18px;
  margin: 0;
}

.centerer {
  margin-left: 50%;
  min-height: 100%;
}

.centered:before {
  box-shadow: -10px 0 15px -10px #999 inset;
  content: " ";
  height: 100%;
  left: -10px;
  position: absolute;
  top: 0;
  width: 10px;
}

.centered:after {
  box-shadow: 10px 0 15px -10px #999 inset;
  content: " ";
  height: 100%;
  right: -10px;
  position: absolute;
  top: 0;
  width: 10px;
}

.centered {
  background-color: #fff;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  dbox-shadow: -1px 0 15px 0 #999;
  margin-left: -370px;
  min-height: 100%;
  padding: 20px;
  position: relative;
  width: 700px;
}

.hidden {
  display: none;
}

p {
  text-align: justify;
  margin-bottom: 30px;
}
th {
  text-align: left;
  padding: 0 15px 15px 0;
}
td {
  padding: 0 15px 15px 0;
}

input[type=text] {
  border: 1px solid #555;
  font-size: 16px;
  padding: 10px;
  width: 500px;
}

input[type=password] {
  border: 1px solid #555;
  font-size: 16px;
  padding: 10px;
  width: 500px;
}

input[type=file] {
  dbackground: #fff;
  border: 1px solid #555;
  cursor: pointer;
  font-size: 16px;
  opacity: 0;
  padding: 10px;
  position: relative;
  dvisibility: hidden;
  width: 500px;
}

input[type=text].readonly {
  border: 1px solid #ccc;
  color: #888;
}

.file {
  border: 1px solid green;
  color: #444;
  font-size: 12px;
  line-height: 16px;
  margin-top: 2px;
  padding: 13px 10px 12px;
  position: absolute;
  text-align: center;
  width: 478px;
}

.file.highlight {
  box-shadow: 0px 0px 5px #888;
}

.option {
  border: 1px solid #999;
  cursor: pointer;
  font-size: 16px;
  opacity: 0.3;
  padding: 10px;
  text-align: center;
  transition: opacity 0.1s linear;
  width: 200px;
}

.option.selected {
  opacity: 1;
}

.option:hover {
  box-shadow: 0px 0px 5px #888;
  opacity: 1;
}

table {
  margin-bottom: 40px;
}

div.activity {
  font-family: monospace;
  margin-bottom: 40px;
}

div.activity a {
  display: block;
  text-decoration: none;
}

.username {
  color: #888;
  font-size: 14px;
}

.submit {
  border: 1px solid #555;
  box-shadow: 0px 0px 5px #888;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  transition: opacity 0.1s linear;
  width: 480px;
}

.submit:hover {
  border: 1px solid #999;
  box-shadow: 0px 0px 5px #aaa;
}

.submit:active {
  box-shadow: none;
}

.submit.disable {
  box-shadow: none;
  opacity: 0.5;
}

.submit.disable:hover {
  border: 1px solid #555;
  box-shadow: none;
}

.submit.disable:active {
  box-shadow: none;
}

.left {
  float: left;
}

.right {
  float: right;
}
</style>
<div class="centerer col-lg-12" id="screen-select">
    <div class="centered">
        <table>
            <tr>
                <th>E-mail Address:</th>
                <td><input type="text" placeholder="foo@bar.com" class="brain-user" /></td>
            </tr>
            <tr>
                <th>Password:</th>
                <td><input type="password" placeholder="password" class="brain-pw" /></td>
            </tr>
            <tr>
                <th>Confirm Password:</th>
                <td><input type="password" placeholder="password" class="brain-confirm" /></td>
            </tr>
            <tr>
                <td> </td>
                <td>
                    <div id="select-submit-brainwallet" class="brain-submit">Summon Brain Wallet</div>
                </td>
            </tr>
        </table>
        <hr />
  </div>
</div>
<div class="centerer hidden" id="screen-loading">
    <div class="centered">
        <h1>Loading Wallet</h1>
        <hr /> C
        <h2 id="loading-header"></h2>
        <table>
            <tr>
                <th>Progress:</th>
                <td>
                    <input type="text" readonly="readonly" class="readonly" id="loading-status" value="" /></div>
                </td>
            </tr>
            <tr>
                <td> </td>
                <td>
                    <div id="loading-cancel" class="submit">Cancel</div>
                </td>
            </tr>
        </table>

        <hr />
    </div>
</div>
<div class="centerer hidden" id="screen-wallet">
    <div class="centered">
        <h1>Ethereum Wallet<span id="wallet-username" class="username right"></span></h1>
        <hr />
        <h3>Wallet Details:</h3>
        <table>
            <tr>
                <th>Address:</th>
                <td>
                    <input type="text" readonly="readonly" class="readonly" id="wallet-address" value="" /></div>
                </td>
            </tr>
            <tr>
                <th>Network:</th>
                <td>
                    <div class="option left" id="option-testnet">Testnet (Ropsten)</div>
                    <div class="option right selected" id="option-mainnet">Mainnet (Homestead)</div>
                </td>
            </tr>
            <tr>
                <th>Balance:</th>
                <td>
                    <input type="text" readonly="readonly" class="readonly" id="wallet-balance" value="0.0" /></div>
                </td>
            </tr>
            <tr>
                <th>Nonce:</th>
                <td>
                    <input type="text" readonly="readonly" class="readonly" id="wallet-transaction-count" value="0" /></div>
                </td>
            </tr>
            <tr>
                <td> </td>
                <td>
                    <div id="wallet-submit-refresh" class="submit">Refresh</div>
                </td>
            </tr>
        </table>
        <h3>Send Ether:</h3>
        <table>
            <tr>
                <th>Target Address:</th>
                <td><input type="text" placeholder="(target address)" id="wallet-send-target-address" /></td>
            </tr>
            <tr>
                <th>Amount:</th>
                <td><input type="text" placeholder="(amount)" id="wallet-send-amount" /></td>
            </tr>
            <tr>
                <td> </td>
                <td>
                    <div id="wallet-submit-send" class="submit disable">Send Ether</div>
                </td>
            </tr>
        </table>
        <h3>Session Activity</h3>
        <div id="wallet-activity" class="activity"></div>

        <hr />
        <h3>Disclaimer:</h3>
        <p>
            This is beta software, with no warranty. <b>Use at your own risk.</b>
        </p>
    </div>
</div> -->

<div class="col-lg-12">
  <div class="block">
    <div class="title"><strong>No Account Wallet Found!</strong></div>
    <div class="block-body text-center">
      <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Create Wallet</button>
      <!-- Modal-->
      <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Create Wallet</strong>
              <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <p>Create a Royalty Rewards Wallet for your accounts...</p>
              <form>
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" placeholder="foo@bar.com" class="form-control brain-gen user">
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" placeholder="password" class="form-control brain-gen pw">
                </div>
                <div class="form-group">
                  <label>Confirm</label>
                  <input type="password" placeholder="password" class="form-control brain-gen confirm">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
              <button type="button" class="btn btn-primary brain-gen create">Create!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
